$blue: #309adb;
$gray: #283c51;
$green: #2ecc71;
$greenDark: #27ae60;
$red: #e74c3c;
$yellow: #f1c40f;
$white: #ffffff;

$bodyBgc: $green;

$iconCircle: $white;
$iconCross: $white;

$fieldBorder: $white;
$fieldHover: $greenDark;
$fieldWin: $yellow;

$headerBgc: $greenDark;
$headerInputBorder: $white;
$headerOutline: $yellow;
$headerItemBgc: $white;
$headerInputHadr: $red;
$headerPaceholder: $gray;
$headerDifficultEasy: $yellow;
$headerDifficultHard: $red;
$headerDifficultChecked: $blue;
$headerDifficultCheckedText: $white;
$headerStartBorder: $blue;

$notifBgc: $yellow;
$notifText: $gray;

// duration
$crossTime: 1s;
$circleTime: 1s;
$bgTime: 0.5s;
$notifTime: 0.5s;