$bgc: #1ABC9C;
$bgc2: #2ecc71;
$bgc3: #f1c40f;
$bgc2-dark: #27ae60;

$ticTac: #fff;
$fieldBorder: #fff;

$headerInputBorder: #fff;
$headerOutline: #F1C40F;
$headerItemBgc: #fff;
$headerInputHadr: #E74C3C;
$headerPaceholder: #283c51;
$headerDificultEasy: #f1c40d;
$headerDificultHard: #e74c3c;
$headerDificultChecked: #309adb;
$headerDificultCheckedText: #fff;
$headerStartBorder: #309adb;

// duration
$crossTime: 1s;
$circleTime: 1s;
$bgTime: 0.5s;