header.header
  .container
    .header-name.hidden-sm
      input(type="text" name="user-name" placeholder="What's your name?")

    .header-difficult Difficulty:
      label.header-difficult-easy 
        input(type="radio" name="user-difficult" value="easy" checked="true")
        span Easy

      label.header-difficult-hard 
        input(type="radio" name="user-difficult" value="hard")
        span Hard 

    .header-start
      button(type="button") Start game!
    
    p.header-score.hidden-sm Score:
      span.header-score-user 0
      span.header-score-mind 0 
