div(class="transparent-box" meta-aim="close-notification")
.notification
  div(class="notification-close" meta-aim="close-notification")
    svg(class="icon-cross")
      use(xlink:href="#icon-cross")
  p.notification-header Congratulation!
  p.notification-text Good game! Try to win in a hard mode.
